<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.IO.Abstractions" version="2.1.0.178" targetFramework="net40" />
  <package id="System.IO.Abstractions.TestingHelpers" version="2.1.0.178" targetFramework="net40" />
  <package id="VSSDK.DebuggerVisualizers" version="12.0.4" targetFramework="net40" />
  <package id="VSSDK.DebuggerVisualizers.12" version="12.0.4" targetFramework="net40" />
  <package id="VSSDK.IDE.12" version="12.0.4" targetFramework="net40" />
</packages>