<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="VSSDK.DebuggerVisualizers" version="11.0.4" targetFramework="net40" />
  <package id="VSSDK.DebuggerVisualizers.11" version="11.0.4" targetFramework="net40" />
  <package id="VSSDK.IDE.11" version="11.0.4" targetFramework="net40" />
</packages>