<?xml version="1.0"?>
<SolutionGenerationSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <DefaultDirectory>Typemock</DefaultDirectory>
  <ExternalDirectory>ExternalDlls</ExternalDirectory>
  <InternalsVisible>true</InternalsVisible>
  <TestFramework>MsTest</TestFramework>
  <FileNameTemplate>[Class]Tests</FileNameTemplate>
  <ClassNameTemplate>[Class]Tests</ClassNameTemplate>
  <MethodNameTemplate>[Method]_Test_[Case]</MethodNameTemplate>
  <NamespaceTemplate>UnitTest</NamespaceTemplate>
  <GenerationStyle>SuggestOnly</GenerationStyle>
  <ProjectTemplate>[Project]UnitTests</ProjectTemplate>
  <AllowPrivateMethods>true</AllowPrivateMethods>
  <ReferenceMode>Nuget</ReferenceMode>
</SolutionGenerationSettings>